// Colors
//
// Our brand colors and other available color variables
//
// Styleguide 1.1

.styleguide-color {
  display: block;
  height: 50px;
}

// Table of Content
// ==================================================
// #Colors
//

// B&W
$black: #000;
$white: #fff;

// Tans
$tan: #f8f7f4;
$tan2: #f1f0e9;
$tan3: #e8e6df;
$tan4: #d6d1be;
$tan5: #cac4ae;
$tan6: #b0aa92;

// Greys
$grey: #f4f4f4;
$grey2: #cccccc;
$grey3: #999999;
$grey4: #666666;
$grey5: #4d4d4d;
$grey6: #333333;

// Misc.
$blue: #dcf5ff;

// 3rd Party Colors
$facebook: #3b5998;
$twitter: #00acee;
$linkedin: #0e76a8;
$google: #5489f5;