.icon-abc { background-image: url(png/abc.png); background-repeat: no-repeat; }

.icon-ambulance { background-image: url(png/ambulance.png); background-repeat: no-repeat; }

.icon-animalcontrol { background-image: url(png/animalcontrol.png); background-repeat: no-repeat; }

.icon-architecture { background-image: url(png/architecture.png); background-repeat: no-repeat; }

.icon-arts { background-image: url(png/arts.png); background-repeat: no-repeat; }

.icon-baby { background-image: url(png/baby.png); background-repeat: no-repeat; }

.icon-bandaid { background-image: url(png/bandaid.png); background-repeat: no-repeat; }

.icon-bank { background-image: url(png/bank.png); background-repeat: no-repeat; }

.icon-baseball { background-image: url(png/baseball.png); background-repeat: no-repeat; }

.icon-best { background-image: url(png/best.png); background-repeat: no-repeat; }

.icon-bike { background-image: url(png/bike.png); background-repeat: no-repeat; }

.icon-billboard { background-image: url(png/billboard.png); background-repeat: no-repeat; }

.icon-binoculars { background-image: url(png/binoculars.png); background-repeat: no-repeat; }

.icon-book { background-image: url(png/book.png); background-repeat: no-repeat; }

.icon-books { background-image: url(png/books.png); background-repeat: no-repeat; }

.icon-bridge { background-image: url(png/bridge.png); background-repeat: no-repeat; }

.icon-briefcase { background-image: url(png/briefcase.png); background-repeat: no-repeat; }

.icon-budget { background-image: url(png/budget.png); background-repeat: no-repeat; }

.icon-bus { background-image: url(png/bus.png); background-repeat: no-repeat; }

.icon-calculator { background-image: url(png/calculator.png); background-repeat: no-repeat; }

.icon-calendar { background-image: url(png/calendar.png); background-repeat: no-repeat; }

.icon-camera { background-image: url(png/camera.png); background-repeat: no-repeat; }

.icon-camping { background-image: url(png/camping.png); background-repeat: no-repeat; }

.icon-check { background-image: url(png/check.png); background-repeat: no-repeat; }

.icon-city { background-image: url(png/city.png); background-repeat: no-repeat; }

.icon-cityblock { background-image: url(png/cityblock.png); background-repeat: no-repeat; }

.icon-classroomelementary { background-image: url(png/classroomelementary.png); background-repeat: no-repeat; }

.icon-classroomsecondary { background-image: url(png/classroomsecondary.png); background-repeat: no-repeat; }

.icon-cleanup { background-image: url(png/cleanup.png); background-repeat: no-repeat; }

.icon-clipboard { background-image: url(png/clipboard.png); background-repeat: no-repeat; }

.icon-coin { background-image: url(png/coin.png); background-repeat: no-repeat; }

.icon-community { background-image: url(png/community.png); background-repeat: no-repeat; }

.icon-compass { background-image: url(png/compass.png); background-repeat: no-repeat; }

.icon-computer { background-image: url(png/computer.png); background-repeat: no-repeat; }

.icon-cross { background-image: url(png/cross.png); background-repeat: no-repeat; }

.icon-crosswalk { background-image: url(png/crosswalk.png); background-repeat: no-repeat; }

.icon-cuts { background-image: url(png/cuts.png); background-repeat: no-repeat; }

.icon-cybersecurity { background-image: url(png/cybersecurity.png); background-repeat: no-repeat; }

.icon-defense { background-image: url(png/defense.png); background-repeat: no-repeat; }

.icon-destination { background-image: url(png/destination.png); background-repeat: no-repeat; }

.icon-discussion { background-image: url(png/discussion.png); background-repeat: no-repeat; }

.icon-document { background-image: url(png/document.png); background-repeat: no-repeat; }

.icon-dog { background-image: url(png/dog.png); background-repeat: no-repeat; }

.icon-door { background-image: url(png/door.png); background-repeat: no-repeat; }

.icon-dove { background-image: url(png/dove.png); background-repeat: no-repeat; }

.icon-drama { background-image: url(png/drama.png); background-repeat: no-repeat; }

.icon-drinks { background-image: url(png/drinks.png); background-repeat: no-repeat; }

.icon-drums { background-image: url(png/drums.png); background-repeat: no-repeat; }

.icon-ecofriendlycar { background-image: url(png/ecofriendlycar.png); background-repeat: no-repeat; }

.icon-economy { background-image: url(png/economy.png); background-repeat: no-repeat; }

.icon-electedofficial { background-image: url(png/electedofficial.png); background-repeat: no-repeat; }

.icon-employee { background-image: url(png/employee.png); background-repeat: no-repeat; }

.icon-energy { background-image: url(png/energy.png); background-repeat: no-repeat; }

.icon-festival { background-image: url(png/festival.png); background-repeat: no-repeat; }

.icon-film { background-image: url(png/film.png); background-repeat: no-repeat; }

.icon-firedepartment { background-image: url(png/firedepartment.png); background-repeat: no-repeat; }

.icon-flags { background-image: url(png/flags.png); background-repeat: no-repeat; }

.icon-flame { background-image: url(png/flame.png); background-repeat: no-repeat; }

.icon-flood { background-image: url(png/flood.png); background-repeat: no-repeat; }

.icon-food { background-image: url(png/food.png); background-repeat: no-repeat; }

.icon-football { background-image: url(png/football.png); background-repeat: no-repeat; }

.icon-gas { background-image: url(png/gas.png); background-repeat: no-repeat; }

.icon-gears { background-image: url(png/gears.png); background-repeat: no-repeat; }

.icon-gift { background-image: url(png/gift.png); background-repeat: no-repeat; }

.icon-globe { background-image: url(png/globe.png); background-repeat: no-repeat; }

.icon-golf { background-image: url(png/golf.png); background-repeat: no-repeat; }

.icon-government { background-image: url(png/government.png); background-repeat: no-repeat; }

.icon-graduation { background-image: url(png/graduation.png); background-repeat: no-repeat; }

.icon-grid { background-image: url(png/grid.png); background-repeat: no-repeat; }

.icon-guitar { background-image: url(png/guitar.png); background-repeat: no-repeat; }

.icon-handshake { background-image: url(png/handshake.png); background-repeat: no-repeat; }

.icon-hazard { background-image: url(png/hazard.png); background-repeat: no-repeat; }

.icon-headphones { background-image: url(png/headphones.png); background-repeat: no-repeat; }

.icon-health { background-image: url(png/health.png); background-repeat: no-repeat; }

.icon-healthcare { background-image: url(png/healthcare.png); background-repeat: no-repeat; }

.icon-healthyfood { background-image: url(png/healthyfood.png); background-repeat: no-repeat; }

.icon-history { background-image: url(png/history.png); background-repeat: no-repeat; }

.icon-horse { background-image: url(png/horse.png); background-repeat: no-repeat; }

.icon-house { background-image: url(png/house.png); background-repeat: no-repeat; }

.icon-icecream { background-image: url(png/icecream.png); background-repeat: no-repeat; }

.icon-improve { background-image: url(png/improve.png); background-repeat: no-repeat; }

.icon-increase { background-image: url(png/increase.png); background-repeat: no-repeat; }

.icon-justice { background-image: url(png/justice.png); background-repeat: no-repeat; }

.icon-land { background-image: url(png/land.png); background-repeat: no-repeat; }

.icon-lightrail { background-image: url(png/lightrail.png); background-repeat: no-repeat; }

.icon-links { background-image: url(png/links.png); background-repeat: no-repeat; }

.icon-magicwand { background-image: url(png/magicwand.png); background-repeat: no-repeat; }

.icon-magnifyingglass { background-image: url(png/magnifyingglass.png); background-repeat: no-repeat; }

.icon-mail { background-image: url(png/mail.png); background-repeat: no-repeat; }

.icon-management { background-image: url(png/management.png); background-repeat: no-repeat; }

.icon-maze { background-image: url(png/maze.png); background-repeat: no-repeat; }

.icon-microscope { background-image: url(png/microscope.png); background-repeat: no-repeat; }

.icon-mobiledevice { background-image: url(png/mobiledevice.png); background-repeat: no-repeat; }

.icon-money { background-image: url(png/money.png); background-repeat: no-repeat; }

.icon-music { background-image: url(png/music.png); background-repeat: no-repeat; }

.icon-naturalresources { background-image: url(png/naturalresources.png); background-repeat: no-repeat; }

.icon-neighborhood { background-image: url(png/neighborhood.png); background-repeat: no-repeat; }

.icon-nuclear { background-image: url(png/nuclear.png); background-repeat: no-repeat; }

.icon-oil { background-image: url(png/oil.png); background-repeat: no-repeat; }

.icon-online { background-image: url(png/online.png); background-repeat: no-repeat; }

.icon-open { background-image: url(png/open.png); background-repeat: no-repeat; }

.icon-outreach { background-image: url(png/outreach.png); background-repeat: no-repeat; }

.icon-park { background-image: url(png/park.png); background-repeat: no-repeat; }

.icon-parking { background-image: url(png/parking.png); background-repeat: no-repeat; }

.icon-parkingmeter { background-image: url(png/parkingmeter.png); background-repeat: no-repeat; }

.icon-parksdepartment { background-image: url(png/parksdepartment.png); background-repeat: no-repeat; }

.icon-pedestrian { background-image: url(png/pedestrian.png); background-repeat: no-repeat; }

.icon-pennant { background-image: url(png/pennant.png); background-repeat: no-repeat; }

.icon-people { background-image: url(png/people.png); background-repeat: no-repeat; }

.icon-picnictable { background-image: url(png/picnictable.png); background-repeat: no-repeat; }

.icon-plant { background-image: url(png/plant.png); background-repeat: no-repeat; }

.icon-policedepartment { background-image: url(png/policedepartment.png); background-repeat: no-repeat; }

.icon-pollution { background-image: url(png/pollution.png); background-repeat: no-repeat; }

.icon-poster { background-image: url(png/poster.png); background-repeat: no-repeat; }

.icon-productivity { background-image: url(png/productivity.png); background-repeat: no-repeat; }

.icon-puzzle { background-image: url(png/puzzle.png); background-repeat: no-repeat; }

.icon-quote { background-image: url(png/quote.png); background-repeat: no-repeat; }

.icon-recycling { background-image: url(png/recycling.png); background-repeat: no-repeat; }

.icon-ribbon { background-image: url(png/ribbon.png); background-repeat: no-repeat; }

.icon-road { background-image: url(png/road.png); background-repeat: no-repeat; }

.icon-route { background-image: url(png/route.png); background-repeat: no-repeat; }

.icon-runningshoe { background-image: url(png/runningshoe.png); background-repeat: no-repeat; }

.icon-school { background-image: url(png/school.png); background-repeat: no-repeat; }

.icon-schoollunch { background-image: url(png/schoollunch.png); background-repeat: no-repeat; }

.icon-schoolsupplies { background-image: url(png/schoolsupplies.png); background-repeat: no-repeat; }

.icon-securitycamera { background-image: url(png/securitycamera.png); background-repeat: no-repeat; }

.icon-seesaw { background-image: url(png/seesaw.png); background-repeat: no-repeat; }

.icon-shopping { background-image: url(png/shopping.png); background-repeat: no-repeat; }

.icon-skate { background-image: url(png/skate.png); background-repeat: no-repeat; }

.icon-sound { background-image: url(png/sound.png); background-repeat: no-repeat; }

.icon-spokesperson { background-image: url(png/spokesperson.png); background-repeat: no-repeat; }

.icon-suitcase { background-image: url(png/suitcase.png); background-repeat: no-repeat; }

.icon-sun { background-image: url(png/sun.png); background-repeat: no-repeat; }

.icon-sustainability { background-image: url(png/sustainability.png); background-repeat: no-repeat; }

.icon-swap { background-image: url(png/swap.png); background-repeat: no-repeat; }

.icon-swim { background-image: url(png/swim.png); background-repeat: no-repeat; }

.icon-tablet { background-image: url(png/tablet.png); background-repeat: no-repeat; }

.icon-target { background-image: url(png/target.png); background-repeat: no-repeat; }

.icon-tennis { background-image: url(png/tennis.png); background-repeat: no-repeat; }

.icon-theater { background-image: url(png/theater.png); background-repeat: no-repeat; }

.icon-tickets { background-image: url(png/tickets.png); background-repeat: no-repeat; }

.icon-time { background-image: url(png/time.png); background-repeat: no-repeat; }

.icon-tools { background-image: url(png/tools.png); background-repeat: no-repeat; }

.icon-tour { background-image: url(png/tour.png); background-repeat: no-repeat; }

.icon-traffic { background-image: url(png/traffic.png); background-repeat: no-repeat; }

.icon-trafficcone { background-image: url(png/trafficcone.png); background-repeat: no-repeat; }

.icon-trafficlight { background-image: url(png/trafficlight.png); background-repeat: no-repeat; }

.icon-trafficsafety { background-image: url(png/trafficsafety.png); background-repeat: no-repeat; }

.icon-train { background-image: url(png/train.png); background-repeat: no-repeat; }

.icon-trash { background-image: url(png/trash.png); background-repeat: no-repeat; }

.icon-trees { background-image: url(png/trees.png); background-repeat: no-repeat; }

.icon-tshirt { background-image: url(png/tshirt.png); background-repeat: no-repeat; }

.icon-vandalism { background-image: url(png/vandalism.png); background-repeat: no-repeat; }

.icon-veteran { background-image: url(png/veteran.png); background-repeat: no-repeat; }

.icon-violation { background-image: url(png/violation.png); background-repeat: no-repeat; }

.icon-visioning { background-image: url(png/visioning.png); background-repeat: no-repeat; }

.icon-waste { background-image: url(png/waste.png); background-repeat: no-repeat; }

.icon-water { background-image: url(png/water.png); background-repeat: no-repeat; }