.icon-avatar_1 {
  background-image: url(png/avatar_1.png);
  background-repeat: no-repeat; }

.icon-avatar_10 {
  background-image: url(png/avatar_10.png);
  background-repeat: no-repeat; }

.icon-avatar_2 {
  background-image: url(png/avatar_2.png);
  background-repeat: no-repeat; }

.icon-avatar_3 {
  background-image: url(png/avatar_3.png);
  background-repeat: no-repeat; }

.icon-avatar_4 {
  background-image: url(png/avatar_4.png);
  background-repeat: no-repeat; }

.icon-avatar_5 {
  background-image: url(png/avatar_5.png);
  background-repeat: no-repeat; }

.icon-avatar_6 {
  background-image: url(png/avatar_6.png);
  background-repeat: no-repeat; }

.icon-avatar_7 {
  background-image: url(png/avatar_7.png);
  background-repeat: no-repeat; }

.icon-avatar_8 {
  background-image: url(png/avatar_8.png);
  background-repeat: no-repeat; }

.icon-avatar_9 {
  background-image: url(png/avatar_9.png);
  background-repeat: no-repeat; }

.icon-grey_announcement {
  background-image: url(png/grey_announcement.png);
  background-repeat: no-repeat; }

.icon-grey_calendar {
  background-image: url(png/grey_calendar.png);
  background-repeat: no-repeat; }

.icon-grey_comments {
  background-image: url(png/grey_comments.png);
  background-repeat: no-repeat; }

.icon-grey_downarrow {
  background-image: url(png/grey_downarrow.png);
  background-repeat: no-repeat; }

.icon-grey_download {
  background-image: url(png/grey_download.png);
  background-repeat: no-repeat; }

.icon-grey_gear {
  background-image: url(png/grey_gear.png);
  background-repeat: no-repeat; }

.icon-grey_house {
  background-image: url(png/grey_house.png);
  background-repeat: no-repeat; }

.icon-grey_image {
  background-image: url(png/grey_image.png);
  background-repeat: no-repeat; }

.icon-grey_interactions {
  background-image: url(png/grey_interactions.png);
  background-repeat: no-repeat; }

.icon-grey_linkarrow {
  background-image: url(png/grey_linkarrow.png);
  background-repeat: no-repeat; }

.icon-grey_menu {
  background-image: url(png/grey_menu.png);
  background-repeat: no-repeat; }

.icon-grey_neutral {
  background-image: url(png/grey_neutral.png);
  background-repeat: no-repeat; }

.icon-grey_play {
  background-image: url(png/grey_play.png);
  background-repeat: no-repeat; }

.icon-grey_search {
  background-image: url(png/grey_search.png);
  background-repeat: no-repeat; }

.icon-grey_share {
  background-image: url(png/grey_share.png);
  background-repeat: no-repeat; }

.icon-grey_star {
  background-image: url(png/grey_star.png);
  background-repeat: no-repeat; }

.icon-grey_views {
  background-image: url(png/grey_views.png);
  background-repeat: no-repeat; }

.icon-implemented-background {
  background-image: url(png/implemented-background.png);
  background-repeat: no-repeat; }

.icon-share-background {
  background-image: url(png/share-background.png);
  background-repeat: no-repeat; }

.icon-tan_announcement {
  background-image: url(png/tan_announcement.png);
  background-repeat: no-repeat; }

.icon-tan_calendar {
  background-image: url(png/tan_calendar.png);
  background-repeat: no-repeat; }

.icon-tan_comments {
  background-image: url(png/tan_comments.png);
  background-repeat: no-repeat; }

.icon-tan_downarrow {
  background-image: url(png/tan_downarrow.png);
  background-repeat: no-repeat; }

.icon-tan_download {
  background-image: url(png/tan_download.png);
  background-repeat: no-repeat; }

.icon-tan_gear {
  background-image: url(png/tan_gear.png);
  background-repeat: no-repeat; }

.icon-tan_house {
  background-image: url(png/tan_house.png);
  background-repeat: no-repeat; }

.icon-tan_interactions {
  background-image: url(png/tan_interactions.png);
  background-repeat: no-repeat; }

.icon-tan_linkarrow {
  background-image: url(png/tan_linkarrow.png);
  background-repeat: no-repeat; }

.icon-tan_menu {
  background-image: url(png/tan_menu.png);
  background-repeat: no-repeat; }

.icon-tan_neutral {
  background-image: url(png/tan_neutral.png);
  background-repeat: no-repeat; }

.icon-tan_search {
  background-image: url(png/tan_search.png);
  background-repeat: no-repeat; }

.icon-tan_share {
  background-image: url(png/tan_share.png);
  background-repeat: no-repeat; }

.icon-tan_star {
  background-image: url(png/tan_star.png);
  background-repeat: no-repeat; }

.icon-tan_views {
  background-image: url(png/tan_views.png);
  background-repeat: no-repeat; }

.icon-white_play {
  background-image: url(png/white_play.png);
  background-repeat: no-repeat; }
